<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "preloader.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        <script type="text/javascript"
            src="//widget.fotomoto.com/stores/script/a5b83db88358a28431614006644718d09897f6cd.js"></script>
        <noscript>If Javascript is disabled in your browser, to place orders please visit the page where I <a
                href=' https://my.fotomoto.com/store/a5b83db88358a28431614006644718d09897f6cd'>sell my photos</a>, powered by <a
                href='https://my.fotomoto.com'>Fotomoto</a>.</noscript>
    </body>
</html>